<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoze.repository.dao.ElementDataValueMapper">

    <resultMap id="PrimaryMap" type="com.haoze.dental.model.PrimaryValueEntity">
        <id column="DATAVALUE_ID" jdbcType="VARCHAR" property="datavalueId"/>
        <result column="DATA_VERSION" jdbcType="VARCHAR" property="dataVersion"/>
        <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="GMT_MODIFY" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="HOSPITAL_ID" jdbcType="VARCHAR" property="hospitalId"/>
        <result column="PRIMARYDATA_ID" jdbcType="VARCHAR" property="primaryDataId"/>
        <result column="DATAVERSION_ID" jdbcType="VARCHAR" property="dataversionId"/>
        <result column="SERIAL_NUMBER" jdbcType="VARCHAR" property="serialNumber"/>
        <result column="DATA_VALUE" jdbcType="VARCHAR" property="dataValue"/>
        <result column="DATA_VALUE_REMARK" jdbcType="VARCHAR" property="dataValueRemark"/>
        <result column="PARENT_DATAVALUE_ID" jdbcType="VARCHAR" property="parentDatavalueId"/>
        <result column="PY_CODE" jdbcType="VARCHAR" property="pyCode"/>
        <result column="WB_CODE" jdbcType="VARCHAR" property="wbCode"/>
    </resultMap>

    <select id="listValue" resultMap="PrimaryMap" parameterType="java.lang.String">
        SELECT
        u.*
        from SYS_PRIMARY_DATA_VALUE u
        where PRIMARYDATA_ID = #{rangeId}
    </select>
</mapper>